
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* intrigate ico font */
@font-face {
    font-family: "IcoFont";
    font-weight: normal;
    font-style: "Regular";
    src: url("../fonts/icofont.woff2") format("woff2"),
        url("../fonts/icofont.woff") format("woff");
  }
  
  @font-face {
    font-family: FunkySignature;
    src: url("../fonts/FunkySignature.otf");
  }
  
  
  /* glabal css */
  body {
    font-family: 'Inter', sans-serif;
    background-color: #000D1D;
  }
  
  .container-fluid {
    padding: 0 20px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  section {
    position: relative;
    overflow: hidden;
  }
  
  button,
  button:focus {
    outline: none;
    border: none;
  }
  
  input,
  input:focus {
    outline: none;
    border: none;
  }
  
  textarea, textarea:focus{
  outline: none;
  border: none;
  }
  
  ul,
  ol {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .container-fluid {
    padding: 0 80px;
    max-width: 1600px;
  }

  .headline {
    color: #FFF;
    font-size: 60px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 80px;
    background: #000D1D;
    position: relative;
    z-index: 2;
  }

  .headline::before {
    content: '';
    position: absolute;
    top: 48px;
    width: 100%;
    height: 1px;
    background: #A4A4A466;
    z-index: -2;
  }

  .headline::after {
    content: '';
    position: absolute;
    top: 0;
    width: 9em;
    height: 100%;
    background: #000D1D;
    z-index: -2;
    left: 0;
  }



  /* header */

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 40px 0;
    z-index: 999;
    transition: linear .5s;
  }
  .fixed-top {
    background: #000D1D;
    padding: 20px 0;
    box-shadow: 0px 0px 10px #EA03246E;
  }
  .navbar {
    padding: 0;
  }
  .navbar-nav {
    margin-left: auto;
  }
  .navbar-brand{
    transition: linear .5s;
  }
  .fixed-top .navbar-brand{
    max-width: 130px;
  }
  .nav-item {
    margin-left: 64px;
    transition: linear .4s;
  }
  .nav-item:first-child{
    margin-left: 0;
  }
  .fixed-top .nav-item {
    margin-left: 30px;
  }
  .nav-link {
    font-size: 26px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff !important;
    cursor: pointer;
    transition: linear .4s;
  }
  .fixed-top .nav-link{
    font-size: 20px;
  }
  .theme_btn {
    border-radius: 8px;
    border: 2px solid #EA0324;
    background: #EA0324;
    display: flex;
    width: 140px;
    justify-content: center;
    align-items: center;
    transition: linear .5s;
  }



  /* banner */
  .banner {
    background: url('../Images/27263\ 2.png') #000D1D;
    background-size: cover;
    height: 52em;
    background-position: center;
    padding-top: 12em;
  }
  .banner .content {
    padding-top: 5em;
  }
  .banner h1 {
    color: #FFF;
    font-size: 72px;
    font-weight: 600;
    line-height: 94px;
    letter-spacing: 1.44px;
  }
  .banner .theme_btn {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 27px;
    width: auto;
    max-width: 10em;
    padding: 16px 0;
    border-radius: 15px;
    margin-top: 30px;
  }
  .banner .theme_btn span {
    transform: rotate(30deg);
    padding-left: 8px;
    font-size: 24px;
  }
  .banner .image {
    padding-top: 14px;
    text-align: right;
  }




  /* services */

  .services {
    background: #000D1D;
    padding: 120px 0;
  }
  .services .row{
    --bs-gutter-x: 2.5rem;
  }
  .services .content {
    margin: 20px 0;
    border-radius: 24px;
    background: linear-gradient(180deg, #000D1D 0%, #112338 100%);
    box-shadow: 4px 4px 0px 0px rgba(139, 0, 20, 0.40) inset;
    padding: 72px 36px;
    height: 530px;
    position: relative;
  }
  .services .content .top_area {
    position: relative;
  }
  .services .content .top_area img {
    width: 70px;
  }
  .services .content h4 {
    color: #EA0324;
    font-size: 24px;
    font-family: Inter;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 30%;
    padding-right: 55px;
  }
  .services .content p {
    color: #FFF;
    font-size: 19px;
    font-family: Inter;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0.72px;
    padding-top: 150px;
    padding-right: 30px;
  }



  /* microsoft partner */

  .m_partner {
    padding: 80px 0;
  }
  .m_partner .headline::after{
    width: 14em;
  }
  .m_partner .wrapper {
    border-radius: 24px;
    border: 2px solid #3E5169;
    background: rgba(42, 60, 83, 0.34);
    box-shadow: 5px 12px 24px 10px rgba(226, 226, 226, 0.08);
    padding: 48px 25px;
  }
  .m_partner p {
    margin-bottom: 0;
    color: #E2E2E2;
    text-align: justify;
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.4px;
    padding-right: 10px;
  }
  .m_partner .image {
    text-align: right;
  }



  /* reviews */

  .reviews {
    padding: 80px 0;
  }
  .reviews .headline::after{
    width: 5em;
  }
  #rev_carousel {
    padding: 0px 30px;
  }
  .single_rev {
    border-radius: 12px;
    background: #E0E0E0;
    padding: 48px 24px;
    height: 440px;
    position: relative;
  }
  .single_rev p {
    color: #030000;
    font-size: 18px;
    font-family: Inter;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.36px;
    padding-right: 12%;
  }
  .single_rev ul {
    display: flex;
  }
  .single_rev ul li {
    margin-right: 7px;
    color: #FFA800;
    font-size: 18px;
  }
  .single_rev ul li:last-child{
    margin-right: 0;
  }
  .single_rev .user_profile {
    display: flex;
    position: absolute;
    bottom: 40px;
    left: 24px;
    width: auto;
  }
  .single_rev .user_profile img {
    width: 96px;
    height: 96px;
  }
  .single_rev .user_profile .text {
    display: flex;
    align-items: center;
    padding-left: 19px;
  }
  .single_rev .user_profile .text h6 {
    color: #030000;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 0;
  }
  .single_rev .user_profile .text h6 span {
    color: #444;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
  }


  /* choose us */

  .choose_us {
    padding: 80px 0;
    z-index: 2;
  }
  .choose_us::before {
    content: '';
    position: absolute;
    top: 58%;
    right: 30px;
    width: 12px;
    height: 341px;
    border-radius: 8px;
    background: #EA0324;
    transform: translateY(-50%);
    z-index: -2;
  }
  .choose_us::after {
    content: '';
    position: absolute;
    bottom: 40px;
    left: 50%;
    height: 12px;
    width: 35%;
    border-radius: 8px;
    background: #EA0324;
    transform: translateX(-50%);
    z-index: -2;
  }
  .choose_us .row {
    --bs-gutter-x: 4rem;
  }
  .choose_us .headline::after{
    width: 8em;
  }
  .choose_us .content {
    border-radius: 6px;
    background: linear-gradient(180deg, #0F213A 0%, #0B1728 100%);
    padding: 25px 35px;
    height: 465px;
    margin: 28px 0;
    position: relative;
  }
  .choose_us .content img {
    margin-bottom: 50px;
    width: 52px;
    height: 52px;
  }
  .choose_us .content h4 {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    line-height: 150%;
    max-width: 318px;
  }
  .choose_us .content p {
    color: #E2E2E2;
    font-size: 19px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.176px;
    position: absolute;
    top: 235px;
    left: 0;
    padding: 20px 35px;
  }






  /* footer */
  .footer {
    padding-bottom: 122px;
    padding-top: 60px;
    border-bottom: 15px solid #25364B;
  }
  .footer_widget {
    margin: 20px 0;
  }
  .footer_widget h6 {
    padding-top: 80px;
    color: #A4A4A4;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.176px;
  }
  .footer_widget form {
    position: relative;
    display: inline-flex;
    padding: 12px 25px;
    justify-content: center;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid #EA0324;
    background: #FFF;
    width: 100%;
  }
  .footer_widget form span {
    border: 1px solid #EA0324;
    color: #EA0324;
    display: block;
    width: 40px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 18px;
    line-height: 28px;
  }
  .footer_widget form input {
    text-align: right;
    color: #222121;
    font-size: 16px;
    font-family: Inter;
    font-weight: 600;
    line-height: 150%;
    text-transform: capitalize;
    width: 100%;
  }